.profile-container{
  min-height: 83.2vh;
  margin-top: 3.55rem;
}

/* profile description */

.profile-desc{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.hr, .hr-new{
  border: 1px solid #4582ec;
}

.hr-new{
  display: none;
}

/* work and organizational section */

.work-organizational-section{
  border: 1px solid #4582ec;
  border-radius: 1rem;
}

/* contact section */

.contact-info{
  font-size: .85rem;
}

.contact-info > a{
  color: #000;
  font-size: .85rem;
}

.contact-info > a:hover{
  color: #4582ec;
  text-decoration: none;
}

/* education, skills, and certificates section */
.edu-degree, .skill-title{
  font-size: .9rem;
  font-weight: bold;
  margin-bottom: .3rem;
}

.edu-place, .skill-name, .certi-name{
  font-size: .85rem;
  margin-bottom: .3rem;
}

.certi-name{
  margin-bottom: .4rem;
}

.edu-gpa{
  font-size: .85rem;
  font-weight: bold;
  margin-bottom: 0;
}

/* media screen sizing */

@media screen and (max-width: 767.98px) {
  
  /* profile section */

  .profile-title{
    font-size: 1.8rem;
  }

  .profile-job{
    font-size: 1.4rem;
    margin-bottom: .4rem;
  }

  /* work and organizational exp */

  .work-org-head{
    text-align: center;
  }

  /* hr */

  .hr-new{
    display: block;
    margin-bottom: 2rem;
  }

}

@media screen and (max-width: 575.98px) {
  
  /* profile section */

  .profile-img-container{
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  .profile-img{
    width: 60%;
  }

  .profile-title, .profile-job{
    text-align: center;
  }
}