label {
  font-size: 1rem;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.form-box{
  width: 50%;
  border: solid 0.2rem #4582ec; 
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-block{
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .btn-block{
    width: 70%;
  }
}